.border{
    border: 2px solid red;
    margin: 2px;
}
.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}
.invert{
    filter: invert(1);
}
.bg-gray{
    background-color: #121212;
}
.rounded{
    border-radius: 5px;
}